@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.container {
  width: 90%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px #d1d0d0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.removeButton {
  width: 5rem;
  height: 3rem;
  background-color: rgb(179, 57, 57);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.container p {
  width: 20%;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
