.container {
  width: 100%;
  margin-top: 9.6rem;
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 1.6rem;
  color: #525151;
}
.name {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}
.infoHolder {
  margin: 0 0 6.4rem 0;
}
.infoHolder > p {
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}
.infoHolder {
  width: 15rem;
  padding: 1rem;
}
.other {
  display: flex;
  gap: 5rem;
}
.email {
  width: 27rem;
  overflow-x: hidden;
}
