@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #02c8b5;
}
.form {
  width: 50rem;
  height: 50rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}
.intro {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.formPart {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.formDiv {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.input {
  background-color: transparent;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  padding-left: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.button {
  color: white;
  border: none;
  background-color: #02c8b5;
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
}
.button:hover {
  background-color: #008b7e;
}
.icon {
  width: 3.2rem;
  height: 3.2rem;
}
.intro > h2 {
  font-size: 3rem;
}
